<section>
<%spotlight = Work.spot_light%>
 <h2><span>Media Spotlight|<%=spotlight.title%> by<%=spotlight.creator%></span></h2>
 <p><%=spotlight.description%></p>
</section>
<section>
  <section>
    <h2>Top Movies</h2>
    <%Work.top_ten("movie").each do |work|%>
     <ul>
        <li>
         <a><%=work.title%></a>
         <small>by <%=work.creator%> </small>
         <p>votes</p>
        </li>
     </ul>
   <%end%>
  </section>
    <section>
    <h2>Top Albums</h2>
    <%Work.top_ten("album").each do |work|%>
     <ul>
        <li>
         <a><%=work.title%></a>
         <small>by <%=work.creator%> </small>
         <p>votes</p>
        </li>
     </ul>
   <%end%>
  </section>
    </section>
    <section>
    <h2>Top Books</h2>
    <%Work.top_ten("book").each do |work|%>
     <ul>
        <li>
         <a><%=work.title%></a>
         <small>by <%=work.creator%> </small>
         <p>votes</p>
        </li>
     </ul>
   <%end%>
  </section>
</section>





