<div>
  <h1><%= @work.title %></h1>
  <br>
  <strong>Created by:</strong> <%= @work.creator%>
  <br>
  <strong>Published:</strong> <%= @work.creator%>
  <br>
  <strong>About:</strong> <%= @work.creator%>
  <br>
  <button> <%= link_to "Back to media ranks", works_path %></button>
  <button> <%= link_to "Edit", edit_work_path %></button>
  <button> Upvote</button>
  <button><%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure you want to delete work: #{@work.title}?"}%> </button>
</div>