<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <h1 class="app-header__header">
    <%= link_to 'Media Ranker', root_path%> |Ranking the Best of Everything
    </h1>
    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container"> 
        <li class="nav-item app-header__nav_item">
         <a class="nav-link"><%= link_to "View top media", root_path %></a>
        </li>
        <li class="nav-item app-header__nav_item">
        <a class="nav-link"><%= link_to "View all media", works_path %></a>
        </li>
         <li class="nav-item app-header__nav_item">
        <a class="nav-link"><%= link_to "Add new work", new_work_path%></a>
        </li>
        <li class="nav-item app-header__nav_item">
        <a class="nav-link"><%= link_to "View all users", users_path %></a>
        </li>
        <%if session[:user_id].nil?%>
         <li class="nav-item app-header__nav_item">
         <a class="nav-link"><%= link_to "Log in", login_path%></a>
         </li>
        <%else%>
          <li class="nav-item app-header__nav_item">
         <a class="nav-link"><%= link_to "Log out", logout_path, method: :post %></a>
         </li>
        <%end%>
      </ul>
    </nav>
  </header>
  <section>
    <%flash.each do |name, message|%>
      <div><%=message%></div>
    <%end%>
    </section>
  <body>
    <%= yield %>
  </body>
</html>
